/*
*Author: @zamarrowski
*/
span,.file{
	width: 100%!important;
	margin-top: 5px;
}

.file{
	background-image: url("../img/file.png")!important;
	background-position: 15px;
	background-repeat: no-repeat;
	background-size: 25px;
}

.file:hover{
	background-image: url("../img/file_white.png")!important;
}

.folder{
	background-image: url("../img/folder.png")!important;
	background-position: 15px;
	background-repeat: no-repeat;
	background-size: 25px;
}


.folder:hover{
	background-image: url("../img/folder_white.png")!important;
}


#contentfolder{
	z-index: 99;
	height: 50%;
	width: 50%;
	overflow: auto;
	position: absolute;
	background-color: white;
	top: 25%;
	left: 25%;
	border: 1px solid black;
	box-shadow: 1px 1px 500px;
	display: none;
}

#contentfolder *{
	float: left!important;
	width: 24%!important;
	margin-left: 1%;
}
#contentfolder img{
	display: none;
}

#contentfolder #btnatras{
	display: none;
}


.folder img{
	height: 20px;
	float: right;
	margin-top: -20px;
	
}